body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Times New Roman", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   /* font-size: 20px; */
  /* color: #495057;
  text-align: left; */
  background-color: #FeFeFe
}

.book-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  margin: 40px 50px;
  padding: 2px 10px 10px 10px;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: #fff;
}

.bs-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.bs-form-title {
  display: flex;
  justify-content: center;
}

div.checkbox#checkbox {
  display: flex;
  justify-content: flex-start;
}

.bs-form h4 {
  margin-bottom: 40px;
  font-size: 35px;
}

.bs-form input:focus {
  outline: 0.5px solid peachpuff;
}

div.bs-form input:not([type=checkbox]) {
  width: 600px;
  border-radius: 15px;
  border: .5px solid gainsboro;
  padding: 13px;
  padding-left: 15px;
}

.bs-image > img {
  width: 500px;
  height: 500px;
}

div.button-add-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.search-box {
  margin: 70px auto 40px auto;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  max-width: 750px;
  justify-content: flex-start;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

input[name=search] {
  width: 95%;
  padding: 7px;
  padding-left: 17px;
  border-radius: 50px;
  border: none;
}

input[name=search]#search:focus {
  outline: none;
}


button.search-button {
  background-color: #fff;
  border: none;
}

.fa-search {
  margin-top: 2px;
  margin-right: 9px;
  font-size: 22px;
}

div.data-storage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 25px;
}

.completed-list,
.uncompleted-list {
  width: 600px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin: 20px 12px;
  border-radius: 15px;
  height: 487px;
}

.header-items h5, 
.footer-items h5 {
  font-size: larger;
}

.header-items {
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0 0;
  padding: 12px;
  box-shadow: 0 2px 3px -2px gray;
}

.header-items h5 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.book-items-completed, .book-items-uncompleted {
  overflow-y: auto;
  height: 369px;
  float: inherit;
}

.completed-item,
.uncompleted-item {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .completed-item:last-child, .uncompleted-item:last-child {
  box-shadow: none;
} */

.data-container {
  line-height: 12px;
}

p.title {
  font-size: 30px;
}

p.author {
  font-size: 23px;
}

.buttonAction-container {
  align-self: center;
}

.footer-items {
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 5px -2px gray;
}

p.footer-title {
  font-size: 17px;
  font-weight: bold;
}

button.delete {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  margin-bottom: 4px;
}

button.complete {
  background-image: linear-gradient(135deg, #9c40f3 40%, #3db0f3);
}

button.incomplete {
  background-image: linear-gradient(135deg, #c2babd 40%, #979fa1);
}

button.add {
  background-image: linear-gradient(135deg, #5de48a 40%, #88f0de);
}

button.delete, button.complete, button.incomplete, button.add {
  align-items: center;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button.delete:active, button.complete:active, button.incomplete:active, button.add:active {
  outline: 0;
}

button.delete:hover, button.complete:hover, button.incomplete:hover, button.add:hover {
  outline: 0;
}

button.delete span, button.complete span, button.incomplete span, button.add span {
  transition: all 200ms;
}

button.delete:hover span, button.complete:hover span, button.incomplete:hover span, button.add:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  button.delete, button.complete, button.incomplete, button.add {
    font-size: 15px;
    height: 50px;
  }

  button.delete span, button.complete span, button.incomplete span, button.add span {
    line-height: 50px;
  }
}

@media screen and (max-width: 770px) {
  .bs-form input {
    max-width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .search-box {
    width: 80%;
  }
  .fa-search {
    margin-right: 5px;
  }
}

@media screen and (max-width: 550px) {
  .bs-image img {
    width: 450px;
    height: 450px;
  }
}

html::-webkit-scrollbar{
  width: 15px;
}

.book-items-completed::-webkit-scrollbar,
.book-items-uncompleted::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
.book-items-completed::-webkit-scrollbar-track, 
.book-items-uncompleted::-webkit-scrollbar-track {
  background-color: #e5e6e4;
}

html::-webkit-scrollbar-thumb,
.book-items-completed::-webkit-scrollbar-thumb,
.book-items-uncompleted::-webkit-scrollbar-thumb {
  background: #b3a394;
  border-radius: 25px;
}

/*  
i {
  font-style: italic
}

.container {
  margin-top: 100px
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all .2s
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.625rem;
  height: 3.5rem;
  background-color: #fff
}

.widget-subheading {
  color: #858a8e;
  font-size: 10px
}

.card-header.card-header-tab .card-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap
}

.card-header .header-icon {
  font-size: 1.65rem;
  margin-right: 0.625rem
}

.card-header.card-header-tab .card-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap
}

.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap
}

.text-capitalize {
  text-transform: capitalize !important
}

.scroll-area-sm {
  height: 288px;
  overflow-x: hidden
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125)
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0
}

.book-indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  opacity: .6;
  transition: opacity .2s
}

.bg-warning {
  background-color: #f7b924 !important
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s
}

.widget-content .widget-content-right {
  margin-left: auto
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer
}

.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
  color: #3ac47d;
  border-color: #3ac47d
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d
}

.btn-primary {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8
}

.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  outline: none !important
}

.card-footer {
  background-color: #fff
} */